/* Navbar styling */
nav {
    background-color: inherit;
    transition: all 0.3s;
}

#websiteTitle-light, 
#websiteTitle-dark {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: all 0.3s;
}

#websiteTitle-light {
    color: #DD58D6;
}

#websiteTitle-dark {
    color: #fff;
}

#themeTogglerButton-light,
#themeTogglerButton-dark {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    transition: all 0.3s;
}

#themeTogglerButton-light {
    color: #DD58D6;
    background-color: #fff;
}

#themeTogglerButton-dark {
    color: #fff;
    background-color: #1D267D;
}

@media (min-width: 1024px)  {
    nav {
        margin-right: auto;
        margin-left: auto;
    }
}

/* Navbar styling */