* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Slab', serif;
}

.big-container {
    transition: all 0.3s;
}

#light {
    background-color: #fff;
}

#dark {
    background-color: #191825;
}